header {
  display: flex;
  justify-content: space-between;
}

.loginSection{
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  gap: 1rem;
}

.categoryContainer {
  display: flex;
  flex-wrap: nowrap;
  gap: 200px;
  margin-top: 150px;
  justify-content: center;
}

.categoryEach {
  width: 400px;
  font-size: 1rem;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #DCE1E0;
  border-radius: 10px;
  cursor: pointer;
}

.categoryEach:hover {
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.academicContainer{
  display: flex;
  flex-wrap: nowrap;
  height: 200px;
  gap: 200px;
  margin-top: 150px;
  justify-content: center;
}

.categoryEach1 {
  width: 400px;
  font-size: 1rem;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #DCE1E0;
  border-radius: 10px;
  cursor: pointer;
  justify-content: center;
}

.categoryEach1:hover {
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
